<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recover Foodpot Account</title>
</head>
<body>
  <main>
    <h1>Account Recovery</h1>
    <form id="reset-password-form">
      <label for="password">Password</label>
      <input type="password" name="password" required/>

      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" required/>

      <button type="submit">RECOVER</button>

      <div class="error-message" id="error-message"></div>
    </form>
  </main>

  <script type="text/javascript">
    const errorContainer = document.querySelector("#error-message");

    function handleFormSubmit(e) {
      e.preventDefault();

      errorContainer.classList.remove("show");

      if (this.password.value !== this.confirmPassword.value) {
        errorContainer.innerHTML = "Password and Confirm Password inputs don't match";
        errorContainer.classList.add("show")
        return;
      }

      fetch("{{updatePasswordUrl}}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Authorization": "{{ accessToken }}"
        },
        body: JSON.stringify({
          password: this.password.value,
        }),
      })
      .then(res => {
        return res.json();
      })
      .then(res => {
        if (res.statusCode >= 400) {
          errorContainer.innerHTML = res.error;
          errorContainer.classList.add("show")
          return;
        }

        form.innerHTML = "Password updated successfully";
      })
      .catch(e => {
        errorContainer.innerHTML = e.message;
        errorContainer.classList.add("show")
      });
    }

    const form = document.querySelector("#reset-password-form");
    form.addEventListener("submit", handleFormSubmit);
  </script>
</body>
</html>
